<nav>
  <ul>
    <!-- Homepage -->
    <li><%= link_to "Home", "/" %></li>

    <!-- New post  -->
    <% if user_connected %>
      <li><%= link_to "My posts", "my-posts" %></li>
    <% end %>
  
    <!-- New post  -->
    <% if user_connected %>
      <li><%= link_to "New post", new_post_path %></li>
    <% end %>

    <!-- User Profile  -->
    <% if user_connected %>
      <li><%= link_to current_user["first_name"], "/" %></li>
    <% end %>
    
    <!-- Sign up -->
    <% if !user_connected %>
      <li><%= link_to "Sign up", register_path %></li>
    <% end %>
    
    <!-- Log in -->
    <% if !user_connected %>
      <li><%= link_to "Log in", login_path %></li>
    <% end %>

    <!-- Log out -->
    <% if user_connected %>
      <li><%= link_to "Logout", logout_path %></li>
    <% end %>

  </ul>
</nav>
